# Standardbiblioteker for Python-projekter
numpy==1.26.4
pandas==2.2.1
flask==3.0.2

# Specifikke biblioteker til AI og datahåndtering
tensorflow==2.16.1
scikit-learn==1.4.2
matplotlib==3.8.3

# Web framework til API'er
fastapi==0.110.0
uvicorn==0.32.0

# Databasehåndtering
sqlalchemy==2.0.30
psycopg2-binary==2.9.9

# Miljøhåndtering
python-dotenv==1.0.1